<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      🎮 Store Games
    </a>
    <div class="ms-auto">
      <a routerLink="/cart" class="btn btn-outline-light position-relative">
        🛒 Carrito
        <span *ngIf="itemCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ itemCount }}
        </span>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>